<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918469642630-k3dk2pubfms5gbfosm8h2usm98v4n4na.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918469642630-k3dk2pubfms5gbfosm8h2usm98v4n4na</string>
	<key>API_KEY</key>
	<string>AIzaSyABbLocD_D9M6YXC8EfmEKcozLtiKCEr68</string>
	<key>GCM_SENDER_ID</key>
	<string>918469642630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wezard.halofirebaseexample</string>
	<key>PROJECT_ID</key>
	<string>react-native-halo</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-halo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918469642630:ios:6ef6a156b2ba18810a4407</string>
</dict>
</plist>